@use 'inc' as *;

/* Main Animations */
@keyframes scalingAnimation {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/* General Styles */
body {
  color: $textColor;
  background: url("../img/decor_barber_pattern.png") repeat repeat;
  font-size: 16px;
  line-height: 1.25;
  font-family: $mainFont;
  font-weight: normal;
  font-style: normal;
  height: 100vh;

  &.ovf_hidden {
    overflow: hidden;
  }
  &.went-from-site-top-part {
    & .section.panel {
      padding-top: 18.75rem;
    }
  }
}

a {
  color: $linkColor;
}

section {
  display: block;
  &.section {
    & .container {
      height: 100%;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }
  &.section.panel {
    margin-bottom: 0;
    padding: 6.25rem 0 0 0;
    background-repeat: repeat;
    border: none;
    background-color: transparent;
    @include mq-inv-medium {
      padding-top: 5.625rem;
      overflow: hidden;
    }
    & .section--heading {
      font-size: 2.5rem;
      font-weight: 900;
      line-height: 1.125;
      color: #41382d;
      text-transform: uppercase;
      margin-bottom: 1.75rem;
      margin-top: 0;
      &.in-view {
        animation: scalingAnimation 1000ms linear alternate;
      }
    }
    & .section--title-decor {
      width: clamp(15rem, 26.5rem, 26.5rem);
      max-width: 90%;
      margin-bottom: 2.5rem;
      &.in-view {
        animation: scalingAnimation 1000ms linear alternate;
      }
    }
  }
}

.container {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
  padding: 0 25px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: flex-start;
  @include mq-inv-large {
    padding: 0 20px;
  }
  @include mq-inv-medium {
    padding: 0 15px;
  }
}

.light-weight-text {
  font-weight: 300;
}

main {
  position: relative;
}

//header & common
@import 'parts/header';
@import 'parts/section-title';
@import 'parts/layout';
//pages
//@import 'pages/front_page';
@import 'pages/page';

@import 'parts/seach_form';

//sections
@import 'sections/hero-section';
@import 'sections/section-prices';
@import 'sections/section-barbers';
@import 'sections/section-works-gallery';
@import 'sections/section-contact';
//footer
@import 'parts/footer';

