.section--prices {
  & .pricing-table-wrapper {
    display: flex;
    flex-direction: column;
    & .pricing-table-wrapper--decor {
      position: absolute;
      width: 0.8125rem;
      height: 0.8125rem;
      background: url("../../img/decor-square.svg") transparent no-repeat;
      z-index: 1;
      &.pricing-table-wrapper--decor-top-left {
        top: -8px;
        left: -8px;
      }
      &.pricing-table-wrapper--decor-top-right {
        top: -8px;
        right: -8px;
      }
      &.pricing-table-wrapper--decor-bottom-left {
        bottom: -8px;
        left: -8px;
      }
      &.pricing-table-wrapper--decor-bottom-right {
        bottom: -8px;
        right: -8px;
      }
    }
    & .pricing-table-wrapper--table {
      display: flex;
      justify-content: center;
      margin-bottom: 1rem;
      position: relative;
      width: 100%;
      max-width: 42.8125rem;
      & table {
        width:100%;
        border-collapse: collapse;
        border: 1px solid $mainBgColor;
        & tr:nth-child(even) td {
          background-color: #f7f7f7;
        }
        & td {
          border: 1px solid $mainBgColor;
          padding: 0.5rem 1rem;
          text-transform: uppercase;
        }
      }
    }
  }
}