.header {
  border-top: 4px solid $accentColor;

  /* Static Header Styles */
  & .static-inner-header {
    display: grid;
    grid-template-rows: 1fr 3.75rem;
    grid-template-columns: 21.25rem 1fr 20%;
    grid-template-areas:
  "alias-static-ih--head alias-static-ih--menus alias-static-ih--buttons"
  "alias-static-ih--communication-block alias-static-ih--communication-block alias-static-ih--communication-block";
    background-color: $mainBgColor;
    height: 12.5rem;
    min-height: 3.75rem;
    max-height: 12.5rem;
    @include mq-inv-tablet {
      grid-template-columns: 12rem 1fr 10rem;
    }


    & .general-menu {
      display: inline-flex;

      & li {
        display: inline-block;
      }
    }

    & .static-inner-header--hide-on-mobile {
      @include mq-inv-medium {
        display: none;
      }
    }
  }

  /* - Logo Block Part */
  & .static-inner-header--head {
    grid-area: alias-static-ih--head;
    display: flex;
    align-items: center;
  }

  & .logo {
    &.logo--header {
      padding: 1.25rem 1.5625rem 1.25rem 2.5625rem;
      @include mq-inv-tablet {
        padding-left: 1rem;
      }
      & img {
        width: 17.5rem;
        @include mq-inv-large {
          width: 14.125rem;
        }
        @include mq-inv-tablet {
          width: 9.375rem;
        }
        @include mq-inv-medium {
          width: 12.5rem;
        }
      }
    }
  }

  /* - Main Menu Block Part */
  & .static-inner-header--menus {
    grid-area: alias-static-ih--menus;

    & .main-menu-wrapper,
    & .language-switch-menu-wrapper {
      display: flex;
      justify-content: center;
    }

    & .lang-menu {
      padding-top: 0.625rem;
      padding-bottom: 0.8125rem;
      border-top: 1px solid $textColor;
    }

    & .menu-item,
    & .lang-item {
      position: relative;

      &:before {
        content: "\2022";
        display: block;
        position: absolute;
        color: #2c251c;
        font-size: 20px;
        left: -3px;
        transform: translateY(-50%);
        top: 50%;
      }

      &:first-child:before {
        display: none;
      }

      &.active .header-link {
        color: $accentColor;
      }
    }

    & .header-link {
      font-weight: 700;
      text-transform: uppercase;

      &:hover {
        color: $accentColor;
      }
    }

    & .menu-link {
      padding: 0 0.5rem;
      font-size: 1.125rem;
      line-height: 5.0625rem;
      @include mq-inv-tablet {
        font-size: 1rem;
      }
    }

    & .lang-link {
      padding: 0 0.3125rem;
    }

  }

  /* - Main Menu Buttons Block Part */
  & .static-inner-header--buttons {
    grid-area: alias-static-ih--buttons;
    padding-right: 2.5625rem;
    display: flex;
    justify-content: end;
    align-items: center;
    @include mq-inv-tablet {
      padding-right: 1rem;
    }

    & .header-button {
      display: inline-block;
      padding: 0 0.625rem;
      text-transform: uppercase;
      line-height: 2.5625rem;
      height: 2.5rem;
      font-size: 0.9375rem;
      font-weight: 700;
      margin: 0 0.125rem;
      color: $accentColor;
      background-color: transparent;
      border: 1px solid $accentColor;
      border-radius: 0;
      transition: background-color 0.5s ease;
      @include mq-inv-tablet {
        padding: 0 0.3125rem;
      }

      &:hover {
        color: $textColor;
        background-color: $accentColor;
      }

      &.header-button--emphasis {
        color: $textColor;
        background-color: $accentColor;
        border: 1px solid $accentColor;
      }
    }
  }

  & .static-inner-header--communication-block {
    grid-area: alias-static-ih--communication-block;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $textColor;
    padding: 0 2.5rem;

    & .header-info-block-wrapper {
      display: inline-flex;

      & .header-info-text,
      & .header-info-link {
        color: $accentColor;
        text-transform: uppercase;
        font-size: 0.875rem;
        padding: 0 0.625rem;

        & i {
          color: $secondAccentColor;
          margin-right: 0.3125rem;
          font-size: 1.25rem;
        }
      }
    }

    @include mq-inv-large-1215 {
      flex-direction: column;
      justify-content: space-around;
    }
    @include mq-inv-tablet {
      & .header-info-block-wrapper {
        & .header-info-link,
        & .header-info-text {
          font-size: 0.75rem;

          & i {
            margin-right: 0.125rem;
          }
        }
      }
    }
  }
}