// colors
$text: #41382d;
// fonts
$mainFont: "Oswald", sans-serif;
$secondaryFont: 'Philosopher', sans-serif;

@mixin itemGrid($n, $gap) {
  width: calc(100% / #{$n} - #{$gap}px + #{$gap}px / #{$n});
  margin-right: #{$gap}px;
  &:nth-child(#{$n + 1}n){
    margin-right: #{$gap}px;
  }
  &:nth-child(#{$n}n){
    margin-right: 0;
  }
}