// colors
$textColor: #41382d;
$linkColor: #312a20;
$mainBgColor: #514639;
$accentColor: #f5c984;
$secondAccentColor: #9b8159;

// fonts
$mainFont: "Oswald", sans-serif;
$secondaryFont: 'Philosopher', sans-serif;

@mixin itemGrid($n, $gap) {
  width: calc(100% / #{$n} - #{$gap}px + #{$gap}px / #{$n});
  margin-right: #{$gap}px;
  &:nth-child(#{$n + 1}n){
    margin-right: #{$gap}px;
  }
  &:nth-child(#{$n}n){
    margin-right: 0;
  }
}